---
---

@import "{{ site.theme }}";

.page-header {
  color:#000;
  text-align:center;
  background-color:#159957;
  background-image:linear-gradient(120deg, #155e92, #b3b1cf, #ffffff);
  padding:1rem 1rem;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  color:#155e92
}

.project-name {
  margin-bottom: 0rem;
  color: black;
}
.project-tagline {
  margin-top: 0rem;
  margin-bottom: 0.5rem;
  color: black;
}

.nav-link {
//   font-size: 1.5rem;
  color: black;
  margin-left:0.5rem;
  margin-right:0.5rem;
}

details.workshop-selector {
  display: inline-block;
  position: relative;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
details.workshop-selector > summary::before {
  content: "▶ "
}
details.workshop-selector[open] > summary::before {
  content: "▼ "
}
details.workshop-selector > ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid silver;
  padding: 0.5rem;
  margin: 0;
  list-style-type: none;
}
details.workshop-selector[open] > ul {
  display: block;
}